/* fonts */
@import url('https://fonts.googleapis.com/css?family=Scada:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* colors */
@white: #fff;
@grey: #757575;
@text: #444;
@bg: #f8f8f8;

@green: #41B883;
@dark-green: darken(@green, 10%);
@dark: #35495E;
@red: #b00;
@orange: #e96900;

@blue: #00AEEF;
@blue--dark: #1F2229;

/* variables */
@sm: 768px;
@xs: 600px;

/* clear styles */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p,
a, address, img,
small, strong, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,
figure, footer, header,
menu, nav, output, section,
audio, video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}