<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
	<title>Document</title>
    <link rel="stylesheet" href="css/style.css">

    <script src="assets/vue.js"></script>
</head>
<body>

    <div id="wrapper">
        
        <section class="app" id="finder_app">
            <div class="app_head">
                <h1>GitHub Finder App</h1>
            </div>
            <div class="app_flex">

                <div class="application">
                    <h2>Search:</h2>
                    <input 
                        placeholder="Имя пользователя" 
                        v-model="userName">
                    <input 
                        placeholder="Название репозитория" 
                        v-model="userRepo">

                    <button class="btn" @click="searchUser">искать пользотвателя</button>
                    <button class="btn" @click="searchRepo">искать репо</button>
                </div>

                <transition name="fade">
                    <div class="application" v-if="show.user">
                        <h2>User Info</h2>

                        <ol>
                            <li v-for="item in userInfo"> {{ item }} </li>
                        </ol>
                        
                    </div>
                </transition>

                <transition name="fade">
                    <div class="application" v-if="show.commits">
                        <h2>Commits info</h2>

                        <p>Click to get more info</p>

                        <my-commit
                            v-for="(item, i) in commitsInfo"
                            :commit="item.commit"
                            :iteration="i">
                        </my-commit>
                    </div>
                </transition>

            </div>
        </section>

    </div>

    <script src="js/app.js"></script>
    <script src="js/helpers.js"></script>
</body>
</html>